# Required.
DJANGO_DEBUG=on
DJANGO_SECRET_KEY=
# Optional.
DJANGO_ALLOWED_HOSTS=
DJANGO_STATIC_ROOT=
DJANGO_TIMEZONE=
API_DOC_SCHEMA_TITLE=
API_DOC_SCHEMA_DESCRIPTION=
API_DOC_SCHEMA_AUTHOR_EMAIL=
API_DOC_SCHEMA_AGREEMENT_URL=
API_DOC_SCHEMA_LICENCE=
