{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Scheduler{% endblock title %}</title>
  {% block css %}
    <link href="{% static 'libs/css/bootstrapv4.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
  {% endblock %}
</head>
<body>
<div>
  {% block content %}
  {% endblock content %}
</div>

{% block modal %}
{% endblock modal %}

{% block javascript %}
  <script src='{% static 'libs/mix_js/jquery3.4.min.js' %}'></script>
  <script src="{% static 'libs/mix_js/bootstrap4.min.js' %}"></script>
  <script src="{% static 'libs/mix_js/moment2.4.min.js' %}"></script>
   <script src="{% static 'js/utils.js' %}"></script>
{% endblock javascript %}

</body>
</html>

